<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.customers.mapper.mybatis.IShiftMapper">
    <resultMap id="shiftMapping" type="com.example.customers.entity.Shift">
        <id property="id" column="id" />
        <result property="status" column="status" />
        <result property="jobId" column="job_id" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <select id="getAll" resultMap="shiftMapping">
        SELECT * FROM shifts
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM shifts
    </select>
</mapper>